.max-size {
    width: 170px;
    height: 150px;
    border-radius: 7%;
    z-index: 100;
}

.payment-options {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically */
}

.payment-option {
    display: flex;
    flex-direction: column; /* Stack icon and button vertically */
    align-items: center; /* Center items horizontally */
}
.pay-btn {
    background-color: rgb(231, 189, 0);
    padding-left: 40px;
    padding-right: 40px;
}
.border {
    border: 20px;
    padding: 20px;
    border-width: 5px;
    border-radius: 3px;
}
.titles {
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 50px;
}

.col-md-6 {
    border: 20px;
    border-color: yellow;
    background-color: rgb(71, 80, 69);
    max-width: 320px;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.max-size2 {
    width: 170px;
    height: 150px;
    border-radius: 7%;
    z-index: 100;
}