body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

.titles.rotated {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 0.5rem;
    color: rgb(81, 40, 114);
    font-size: 1.1rem;
}

.titles.rotated2 {
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    font-weight: 0.5rem;
    color: rgb(34, 156, 75);
    font-size: 1.1rem;
}

.titles.rotated3 {
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    color: rgb(20, 124, 184);
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
    align-items: center;
    border-radius: 7px;
    width: 70%;
    max-width: 700px;
    max-height: 270px;
    margin: 30px auto;
    padding: 10px;
    background-color: white;
}

.images-container {
    grid-column: span 1; /* Span one column for the image container */
    width: 20%;
    margin-right: 0px;
}

.grid-item {
    padding: 10px;
    /*border: 1px solid red;*/
}

.grid-item.header {
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.next-image2 {
    width: 100px;
    height: auto;
    border-radius: 4%;
    writing-mode: vertical-rl;
    transform: rotate(270deg);
}
.head1 {
    color: white;
    font-size: 1.7rem;
    margin-top: 15px;
    margin-bottom: 5px;
}
.btn-primary {
    margin-left: 350px;
    margin-bottom: 100px;
}

/********************************************/