*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* Set background image */
    background-image: url("/static/images/background.jpeg");

    /* Ensure it covers the entire body */
    background-size: cover;

    /* Center the background image */
    background-position: center;

    /* Optionally, you can set a background color as a fallback */
    background-color: #080710;

    /* Ensure the background covers the entire viewport */
    height: 100vh; /* This ensures the body covers the entire viewport height */
    margin: 0; /* Removes default body margin */
}
.background{
    width: 430px;
    height: 520px;
    positiransform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;

}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
     
form{
    height: auto;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.04);
    position: relative;
    margin: 7% auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 3% 3%;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgb(30, 211, 142);
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background-color: #8bc4a1;
}

.button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    line-height: 1.2;
}
.button:hover {
    background-color: rgb(30, 211, 142);
}
.sign a {
    margin-left: 10px;
}

.sign a:hover {
    transform: scale(10%);
    color: #8bc4a1;
    font-weight: bold;

}

header, footer {
    display: none;
}
