{% extends 'layout.html' %}

{% block title %} Change-password {% endblock %}


{% block body %}

<div class="container">
    <h3>Change your email</h3>

    <form method="POST">
    
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label"> {{ form.new_email.label }}</label>
            {{ form.new_email }}
        </div>

        <button type="submit" class="btn btn-danger">Change</button>
        <a href="{{ url_for('auth.profile', customer_id=customer_id) }}" class="btn1 btn-secondary">Cancel</a>
    </form>
    
    </form>

</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/change_pass.css') }}">
{% endblock %}