{% extends 'layout.html' %}

{% block head %}
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/icon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
    
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <h3>Login Here</h3>
    
        <label for="username_or_email">Username or Email address</label>
        {{ form.username_or_email(class="form-control", placeholder="Username or Email address") }}

        <label for="password">Password</label>
        {{ form.password(class="form-control", placeholder="Password") }}
    
        {{ form.submit(class="button") }}
        <div class="sign"><p> <br>Don't have an account?  
            <a href="/signup">Sign Up</a></p></div>
    </form>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
