{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="heading">FETAN</h1> <br>
        <p class="para">Get Your Bus Ticket Online <br><br>
            {% if current_user.is_authenticated %}
            <a class="link1" href="{{ url_for('views.find_bus') }}">Book here Now</a>
            {% else %}
            <a class="link1" href="{{ url_for('auth.login') }}">Book here Now</a>
            {% endif %}
        </p>
        <div class="images-container">
            
            <img src="../static/images/back2.jpg" class="left-image" alt="Left Image">
            <img src="../static/images/back3.png" class="right-image" alt="Right Image">
        </div>
        <p class="para2">Just tell us where<br>you want to go </p>
        <div class="images-container"> 
            
            <img src="../static/images/back4.png" class="next-image" alt="Right Image">
        </div>

        <p class="para3">Reserve your favorite seat</p>
       
            
        </div>
    </div>
    
    
   
    <!--
    <a class="link1" href="shop-items.html">Book here</a>
    -->
    
    <footer>
        <p>All rights reserved</p>
    </footer>
</body>
</html>
<link rel="stylesheet" href="../static/css/home.css">
{% endblock content %}
