{% extends 'base2.html' %}

{% block title %}Payment Options{% endblock %}

{% block body %}
<br>
<h4 class="titles">Choose your payment option</h4>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="payment-options">
                {% for field in fields %}
                <div class="border">
                    <div class="payment-option">
                        <img src="{{ field.bank_logo }}" alt="{{ field.bank_name }} Logo" class="max-size"></img><br>   
            
                        <button class="btn btn-primary pay-btn" data-payment-method="{{ field.id }}" data-bus-id="{{ bus.id }}">Choose</button>
                    </div>
                    
                </div>
                {% endfor %}
               
            </div>
            
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const payButtons = document.querySelectorAll('.pay-btn');
        payButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const paymentMethod = button.getAttribute('data-payment-method');
                const bus_id = button.getAttribute('data-bus-id');
                redirectToPayment(bus_id, paymentMethod); // Call the redirectToPayment function with busId and paymentMethod
            });
        });
    });

    function redirectToPayment(bus_id, paymentMethod) {
        window.location.href = `/make-payment/${bus_id}?payment_id=${paymentMethod}`;  // Pass payment option ID in the URL
    }
</script>
<link rel="stylesheet" href="../static/css/payment_options.css">
{% endblock %}
